.menu-div {
  width: 311px;
  float: left;
}
.menu-list {
  padding-left: 35px;
}

.menu-list li {
  margin-bottom: 20px !important;
}

.menu-div-inline {
  margin-left: 55px;
}

.menu-item {
  font-size: 15px;
}