.login-box {
  margin-top: 100px;
}
.login-image {
  width:300px;
  margin-bottom: 30px;
}
.login-form {
  max-width: 500px;
  margin: 0 auto;
}

.login-form-button {
  width: 50%;
  margin-left: 25%;
  margin-top: 30px;
  height:40px;
  background-color: #30e492;
  border: 1px solid #30e492;
}

.login-header-box {
  text-align: center;
  margin-bottom: 50px;
}

.title-h1 {
  font-size: 30px;
}

.input-style {
  height: 50px !important;
}